<p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">

  <%= render partial: "user", locals: {user: @user} %>
  <p>
    <%= link_to "Show this user", @user %>
  </p>
</div>

<%= link_to "New user", new_user_path %>
