<h1 class="text-center w-full text-lg text-body-dark font-bold mb-10">Add a new food</h1>

<%= render "form", food: @food %>

<div class="font-semibold leading-none p-5 max-w-fit underline mt-20">
  <%= link_to "Back to foods", foods_path %>
</div>
